<mat-drawer-container class="site-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div class="container">
      <div class="col menus">
        <div class="row logo">
          <img
            src="../../../../assets/logo.png"
            routerLink="./home"
            alt="logo"
            class="logo"
          />
        </div>
        <div class="row menu" *ngFor="let menu of MENUS">
          <p [routerLink]="menu.route" routerLinkActive="active">
            <mat-icon>{{ menu.icon }}</mat-icon
            >{{ menu.label }}
          </p>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="site"
    ><router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
