.site-container {
    height: 100vh;
    color: black;
    background-color: #F5F5F5;
    width: 100vw;
    .sidebar {
      background-color: #72898c;
      .menus {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .logo {
          cursor: pointer;
          img {
            width: 100px;
            height: auto;
          }
        }
        .menu {
            cursor: pointer;
            p{
                border-radius: 5px;
                mat-icon {
                    vertical-align: middle;
                    margin-right: 0.25rem;

                }

                &:hover{
                    background-color: #5b777a;
                }
            }
        }
      }
    }
    .site {
        margin-top: 2rem;
    }
  }