<header>
    <div class="navbar ">
        <div class="navbar-brand align-item-center d-flex">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Procurar Produtos">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="products" class="btn filterBtn ">
            <mat-icon class="icon">filter_list</mat-icon>
        </button>
    </div>
</header>
