<div class="container rounded bg-white mt-5 mb-5 form" *ngIf="userInfo">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold">{{userInfo.nome}}</span
        ><span class="text-black-50">{{userInfo.email}}</span><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="labels">Name</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.nome"
                formControlName="nome"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Telefone</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.telefone"
                formControlName="telefone"
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Morada</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.morada"
                formControlName="morada"
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Código Postal</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.codigoPostal"
                formControlName="codigoPostal"
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Localidade</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.localidade"
                formControlName="localidade"
              />
            </div>
            <div class="col-md-12">
              <label class="labels">Email</label
              ><input
                type="text"
                class="form-control"
                [placeholder]="userInfo.email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit" [disabled]="!userForm.valid">
              Save Profile
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 preferences">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center"
        >
          <span>Preferências</span>
        </div>
        <br />
        <form [formGroup]="userForm">
          <div class="col-md-12 select" *ngIf="categories">
            <label class="labels">Categorias</label
            ><mat-form-field appearance="fill">
              <mat-label>Selecione suas categorias</mat-label>
              <mat-select multiple color="primary" formControlName="categorias">
                <mat-option *ngFor="let category of categories" [value]="category._id">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12 select" *ngIf="marcas">
            <label class="labels">Marcas</label
            ><mat-form-field appearance="fill">
              <mat-label>Selecione suas marcas</mat-label>
              <mat-select multiple color="primary" formControlName="marca">
                <mat-option *ngFor="let marca of marcas" [value]="marca._id">{{marca.name}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <label class="labels">Tamanho</label
            ><input
              type="text"
              class="form-control"
              formControlName="tamanho"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
