<app-header></app-header>
<div class="card-top container-fluid">
    <div class="container d-flex"style="margin-bottom:20px;margin-top:100px" >
        <div class="item">
            <a (click)="filter('')">
                <span>Todos</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465b6c709f60794ad812bb')">
                <span>Homem</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465b82709f60794ad812bc')">
                <span>Mulher</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465b92709f60794ad812bd')">
                <span>Criança</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465bea709f60794ad812bf')">
                <span>Entretenimento</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465b92709f60794ad812bd')">
                <span>Casa</span>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('64465c12709f60794ad812c1')">
                <span>Outros</span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="product-list">
        <div class="section-header">Preferências:</div>
        <div class="card-list">
            <div class="col cardContainer" *ngIf="favoriteProducts">
                <div class="card" *ngFor="let prod of filterCategory  | filter:searchKey:'title'"> <app-product-card [product]="prod"></app-product-card></div>
            </div>
        </div>
      
        <div class="section-header">Todos:</div>
        <div class="card-list">
            <div class="col cardContainer" *ngIf="favoriteProducts">
                <div class="card" *ngFor="let prod of filterCategory  | filter:searchKey:'title'"> <app-product-card [product]="prod"></app-product-card></div>
            </div>
        </div>
      </div>

</div>