<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="name"
                    id="name"
                  />
                  <label class="form-label" for="name">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    id="email"
                  />
                  <label class="form-label" for="email">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="date"
                    class="form-control form-control-lg"
                    formControlName="dataNascimento"
                    id="dataNascimento"
                  />
                  <label class="form-label" for="dataNascimento"
                    >Sua data de nascimento</label
                  >
                </div>

                <mat-form-field appearance="fill" class="selector">
                  <div>
                    <mat-select formControlName="genero" name="genero">
                      <mat-option [value]="'Masculino'"> Masculino </mat-option>
                      <mat-option [value]="'Feminino'"> Feminino </mat-option>
                      <mat-option [value]="'Outro'"> Outro </mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="morada"
                    id="morada"
                  />
                  <label class="form-label" for="morada">Morada</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="localidade"
                    id="localidade"
                  />
                  <label class="form-label" for="localidade">Localidade</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="codigoPostal"
                    id="codigoPostal"
                  />
                  <label class="form-label" for="codigoPostal"
                    >Código Postal</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="tel"
                    class="form-control form-control-lg"
                    formControlName="telefone"
                    id="telefone"
                    pattern="[0-9]{9}"
                  />
                  <label class="form-label" for="telefone">Telefone</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    formControlName="password"
                    id="password"
                  />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                    id="confirmPassword"
                  />
                  <label class="form-label" for="confirmPassword"
                    >Repeat your password</label
                  >
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    type="submit"
                    [disabled]="!registrationForm.valid"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
